In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('trending_by_time.csv')

In [5]:
display(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12343 entries, 0 to 12342
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   record_id       12343 non-null  int64
 1   region          12343 non-null  object
 2   trending_date   12343 non-null  object
 3   category_title  12343 non-null  object
 4   videos_count    12343 non-null  int64
dtypes: int64(2), object(3)
memory usage: 482.3+ KB

None

,record_id,region,trending_date,category_title,videos_count
0,1,France,2017-11-14 00:00:00.000000,Autos & Vehicles,8
1,2,France,2017-11-15 00:00:00.000000,Autos & Vehicles,2
2,3,France,2017-11-16 00:00:00.000000,Autos & Vehicles,6
3,4,France,2017-11-17 00:00:00.000000,Autos & Vehicles,8
4,5,France,2017-11-18 00:00:00.000000,Autos & Vehicles,4

In [6]:
df['trending_date'] = pd.to_datetime(df['trending_date'])

In [9]:
df['trending_date'].describe(datetime_is_numeric=True)

count                            12343
mean     2018-03-04 06:10:10.742931200
min                2017-11-14 00:00:00
25%                2018-01-12 00:00:00
50%                2018-03-05 00:00:00
75%                2018-04-28 00:00:00
max                2018-06-14 00:00:00
Name: trending_date, dtype: object